
<div fxLayout="column" fxLayout.md="column" fxLayout.xs="column" fxLayoutAlign="center stretch" class="products">

<div  class="align-center">
  <h1 class="h1">Page configuration</h1>

</div>
  <!--<h2 class="mat-h2">{{pageId}}</h2>-->
  <!--
  <div>
    <h2>New Container</h2>
      <input type="text" class="form-control" placeholder="Container name" [(ngModel)]="selectedContainer.name">
    <input type="text" class="form-control" placeholder="Selector" [(ngModel)]="selectedContainer.selector">
    <button mat-mini-fab (click)="updateContainer()">{{(selectedContainer.id!==undefined)?'Update':'Add'}}</button>
  </div>
  <mat-divider fxShow="true" fxShow.gt-sm [vertical]="true"></mat-divider>
-->


  <table mat-table fxFlex="100%" fxFlex.gt-sm="66%" [dataSource]="dataSource" class="mat-elevation-z1 ">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let container" > {{container.name}}</td>
      <td mat-footer-cell *matFooterCellDef colspan="3">
          <input class="inline" type="text" [(ngModel)]="newContainer" placeholder="New container">
          <button mat-icon-button (click)="addContainer()" >
            <mat-icon class="mat-icon material-icons">add</mat-icon>
          </button>
        <button mat-icon-button (click)="refreshPage()" >
          <mat-icon class="mat-icon material-icons">refresh</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="selector">
      <th mat-header-cell *matHeaderCellDef><span style="padding-left: 85px">Selector</span></th>
      <td mat-cell *matCellDef="let container">
        <textarea type="text" rows="2" cols="40"  class="larger-input" [(ngModel)]="container.selector">
      </textarea>

        <mat-button-toggle-group #mode="matButtonToggleGroup" [(ngModel)]="container.mode" ng-init="container.mode = container.mode || 'top'" style="vertical-align: middle;">
            <mat-button-toggle class="small" value="top" aria-label="Text align left">
              <mat-icon style="line-height: 0px;">border_top</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle class="small" value="bottom" aria-label="Text align center">
              <mat-icon style="line-height: 0px;">border_bottom</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle class="small" value="inside" aria-label="Text align justify">
              <mat-icon style="line-height: 0px;">select_all</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle class="small" value="replace" aria-label="Text align right">
              <mat-icon style="line-height: 0px;">crop_square</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="save">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let container">
        <button mat-icon-button (click)="updateContainerName(container)">
          <mat-icon>save</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let container">
        <button mat-icon-button (click)="deleteContainer(container)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let container">
        <button mat-icon-button (click)="addContainer()">
          <mat-icon>add</mat-icon>
        </button> </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="footer"></tr>
  </table>

  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

</div>
